<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>mercurial 3.0.1-20140606</string>
	<key>CFBundleIdentifier</key>
	<string>org.pythonmac.mercurial</string>
	<key>CFBundleName</key>
	<string>mercurial</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.1-20140606</string>
	<key>IFMajorVersion</key>
	<integer>3</integer>
	<key>IFMinorRevision</key>
	<integer>0</integer>
	<key>IFPkgFlagComponentDirectory</key>
	<string>./Contents/Packages</string>
	<key>IFPkgFlagPackageList</key>
	<array>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>mercurial-platlib-3.0.1_20140606-py2.7-macosx10.9.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>mercurial-data-3.0.1_20140606-py2.7-macosx10.9.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>mercurial-scripts-3.0.1_20140606-py2.7-macosx10.9.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
	</array>
	<key>IFPkgFormatVersion</key>
	<real>0.10000000149011612</real>
	<key>IFRequirementDicts</key>
	<array>
		<dict>
			<key>LabelKey</key>
			<string>Apple Python 2.7</string>
			<key>Level</key>
			<string>requires</string>
			<key>MessageKey</key>
			<string>mercurial requires Apple Python 2.7 to install.</string>
			<key>SpecArgument</key>
			<string>/System/Library/Frameworks/Python.framework/Versions/2.7</string>
			<key>SpecProperty</key>
			<string>NSFileType</string>
			<key>SpecType</key>
			<string>file</string>
			<key>TestObject</key>
			<string>NSFileTypeDirectory</string>
			<key>TestOperator</key>
			<string>eq</string>
			<key>TitleKey</key>
			<string>mercurial requires Apple Python 2.7 to install.</string>
		</dict>
	</array>
	<key>PythonInfoDict</key>
	<dict>
		<key>PythonExecutable</key>
		<string>/usr/bin/python</string>
		<key>PythonLongVersion</key>
		<string>2.7.5 (default, Mar  9 2014, 22:15:05) 
[GCC 4.2.1 Compatible Apple LLVM 5.0 (clang-500.0.68)]</string>
		<key>PythonShortVersion</key>
		<string>2.7</string>
		<key>bdist_mpkg</key>
		<dict>
			<key>version</key>
			<string>0.4.3</string>
		</dict>
	</dict>
</dict>
</plist>
